/*-------------------------
    General Styles
--------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    -ms-background-size: 1em 1em;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 52%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 52%);
    background-color: #fff;
    background-size: 1em 1em;
}


a, a:visited {
    color: #389dc1;
    outline: none;
}

a:hover { text-decoration: none; }

section, footer, header, aside { display: block; }


/*----------------------------
    The file upload form
-----------------------------*/

.input-file-container {
    
    position: relative;
    width: 225px;
}

.js .input-file-trigger {
    background: #39D2B4;
    border-radius: 8px 8px 0 0;
    color: rgba(35, 35, 35, 0.9);
    cursor: pointer;
    display: block;
    font-size: 1em;
    padding: 5px 3px;
    text-align: center;
    transition: all .4s;
    word-break: break-all;
}

.js .input-file {
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.js .input-file:hover + .input-file-trigger,
.js .input-file-trigger:hover {
    background: #34495E;
    color: #39D2B4;
}

.file-send {
    padding: 5px;
    text-align: center;
}

.js .file-send {
    background: rgba(26, 100, 117, 0.38);
    border: 0px;
    border-radius: 0 0 8px 8px;
    color: rgba(35, 35, 35, 0.9);
    cursor: pointer;
    font-size: .8em;
    font-style: italic;
    font-weight: bold;
    transition: all .4s;
    width: inherit;
}

.js .file-send:hover {
        
    background: #34495E;
    color: #39D2B4;
}

/*----------------------------
    The table drugs form
-----------------------------*/

.tableForm input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    float: left;
    padding: 3px;
    height: 29px;
}
.add, .del {
    padding: 5px;
    text-align: center;
}

.js .add, .del {
    background: rgba(0, 188, 218, 0.66);
    color: rgba(35, 35, 35, 0.9);
    cursor: pointer;
    font-size: .8em;
    font-weight: bold;
    transition: all .4s;
    width: 76px;
    margin: 0;
}

    .js .add:hover, .del:hover {
        background: #34495E;
        color: #39D2B4;
    }