/*-------------------------
    General Styles
--------------------------*/

body {
    -ms-background-size: 1em 1em;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 52%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 52%);
    background-color: #fff;
    background-size: 1em 1em;
}


a, a:visited {
    color: black;
    outline: none;
}

a:hover { text-decoration: none; }

li:hover { background-color: rgba(141, 255, 255, 0.33); }

section, footer, header, aside { display: block; }

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    background-color: #F5F5F5;
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

/*-------------------------
    Menu Jvnlp CSS
--------------------------*/

.menuJvnlp {
    position: fixed;
    top: 0;
    width: 100%;
}

.menuJvnlp li {
    border: 1px solid #000;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 160px;
}

.menuJvnlp ul {
    display: inline;
    padding-inline-start: 0;
}

/*-------------------------
    Table and Menu Jvnlp CSS
--------------------------*/

.fonTableDrugs table {
    background-color: rgba(169, 169, 169, 0.5);
    width: 100%;
}

.fonTableDrugs thead, .fonTableDrugs tbody {
    display: block;
    font-family: "Calibri";
    font-size: 12px;
    overflow-y: scroll;
    text-align: center;
}

.fonTableDrugs thead { font-weight: bold; }

.fonTableDrugs tbody {
    overflow-x: auto;
    overflow-y: auto;
}

.fonTableDrugs tbody tr td { word-break: break-all; }

.fonTableDrugs {
    background-color: rgba(169, 169, 169, 0.5);
    display: none;
    height: 100%;
    width: 100%;
}

.tableDrugsMenu li {
    border: 1px solid #000;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0 10px 10px;
    position: absolute;
    text-align: center;
    top: -50px;
    width: 153px;
}

.tableDrugsMenu {
    display: inline;
    padding-inline-start: 0;
}

.readyJvnlpMenu li {
    border: 1px solid #000;
    cursor: pointer;
    display: inline-block;
    margin: 5px 0 5px 5px;
    text-align: center;
    width: 170px;
}

.readyJvnlpMenu {
    display: inline;
    padding-inline-start: 0;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 40px;
    overflow: auto;
}

.readyOriginalJvnlpMenu li {
    border: 1px solid #000;
    cursor: pointer;
    display: inline-block;
    margin: 5px 0 5px 5px;
    text-align: center;
    width: 170px;
}

.readyOriginalJvnlpMenu {
    display: inline;
    padding-inline-start: 0;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 40px;
    overflow: auto;
}
.CSSButtonCalculate {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    /*border-radius: 4px;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 29px;
    line-height: 20px;
    margin: 0.5px 1px 1px 1px;
    padding: 2px 6px;
    position: absolute;
    left: 0;
    text-align: center;
    text-decoration: none;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    vertical-align: middle;
    width: 195px;
}

.CSSButtonUpload {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    /*border-radius: 4px;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 29px;
    line-height: 20px;
    margin: 0.5px 1px 1px 1px;
    padding: 2px 6px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    vertical-align: middle;
    width: 195px;
}

    .CSSButtonUpload:hover, .CSSButtonUpload:focus, .CSSButtonCalculate:hover, .CSSButtonCalculate:focus {
        border-color: rgba(82, 168, 236, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        outline: 0 none;
    }

/*div[name="ReadyJvnlp"] input[name="filterRow"] {
    margin: 0 auto;
    bottom: -33px;
    position: relative;
}*/
.searchInput td > input {
    width: 100%;
}

/*style status bar download file JVNLP */
.spinner {
    animation: rotate 1s linear infinite;
    display: block;
    height: 50px;
    margin: 0 auto;
    width: 50px;
}

.path {
    animation: dash 1.5s ease-in-out infinite;
    stroke: rgb(0, 222, 255);
    stroke-linecap: round;
}

@keyframes rotate {
    100% { transform: rotate(360deg); }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.viewlist li:hover {
    background-color: rgba(0, 0, 0, 0);
}

.viewlist li {
    display: inline-block;
    text-align: center;
}

.viewlist {
    display: inline;
    padding-inline-start: 0;
    background-color: rgba(238, 238, 238, 0.611764705882353);
    bottom: 90px;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 33px;
    overflow: auto;
}

/*-----------------------------------------*/

/*-------------------------
    Form File Jvnlp CSS
--------------------------*/

.formfileJvnlp {
    background: rgba(53, 147, 210, 0.5);
    border-radius: 20px 0 20px 20px;
    bottom: 0;
    display: none;
    height: 120px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    z-index: 1000;
}

.formFileJvnlp { margin: 5%; }

.cl-btn { cursor: pointer; }

.cl-btn:before {
    content: '+';
    font-size: 35px;
    line-height: 1;
    position: absolute;
    right: 3px;
    top: -30px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    z-index: 2;
}

.cl-btn:after {
    background: rgba(53, 147, 210, 0.5);
    content: '';
    height: 26px;
    position: absolute;
    right: 0;
    top: -26px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    width: 26px;
    z-index: 1;
}

.cl-btn:hover:before { color: red; }

.cl-btn:before {
    color: black;
    transform: scale(0.8) rotate(45deg);
}

.input-file-container {
    position: relative;
    width: 225px;
}

.js .input-file-trigger {
    background: #39D2B4;
    border-radius: 8px 8px 0 0;
    color: rgba(35, 35, 35, 0.9);
    cursor: pointer;
    display: block;
    font-size: 1em;
    padding: 5px 3px;
    text-align: center;
    transition: all .4s;
    word-break: break-all;
}

.js .input-file {
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.js .input-file:hover + .input-file-trigger,
.js .input-file-trigger:hover {
    background: #34495E;
    color: #39D2B4;
}

.file-send {
    padding: 5px;
    text-align: center;
}

.js .file-send {
    background: rgba(26, 100, 117, 0.38);
    border: 0px;
    border-radius: 0 0 8px 8px;
    color: rgba(35, 35, 35, 0.9);
    cursor: pointer;
    font-size: .8em;
    font-style: italic;
    font-weight: bold;
    transition: all .4s;
    width: inherit;
}

.js .file-send:hover {
    background: #34495E;
    color: #39D2B4;
}


/*-------------------------
    Form Drugs Narcotic CSS
--------------------------*/

.formDrugsNarcotic {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    bottom: 0;
    display: none;
    left: 0;
    margin: auto;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 0;
    width: 524px;
    z-index: 1000;
}

.divScroll {
    background: rgba(255, 255, 255, 0.53);
    display: block;
    height: fit-content;
    margin-top: 30px;
    position: absolute;
}

input.saveNDrugs {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    /*border-radius: 4px;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 29px;
    line-height: 20px;
    margin: 0px 1px 5px 5px;
    padding: 2px 6px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    vertical-align: middle;
    width: 195px;
}

input.saveNDrugs:hover, input.saveNDrugs:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

input.saveNDrugs:active {
    background-color: #5a5a5a;
    color: #FFFFFF;
}


.tableForm input[type="text"], .tableForm input[type="date"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: 29px;
    padding: 3px;
    width: 100%;
}

.VisExNDrugs {
    background-color: white;
    border: 2px solid rgba(113, 113, 153, 0.44);
    font-size: 14px;
    height: 15px;
    left: 145px;
    padding: 5px 8.5px;
    position: absolute;
    text-align: center;
    text-decoration: none;
}

.add, .del {
    -webkit-transition-duration: 0.4s; /* Safari */
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    /*margin: 3px 2px;*/
    padding: 5px 7px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}

.add {
    background-color: white;
    border: 2px solid rgba(113, 113, 153, 0.44);
    color: black;
}

.add:hover {
    background-color: #4CAF50;
    color: white;
}

.del {
    background-color: white;
    border: 2px solid rgba(113, 113, 153, 0.44);
    color: black;
    left: 76px;
}

.del:hover {
    background-color: #af4c4c;
    color: white;
}

.elementsSettingsRow {
    background-color: black;
    height: 29px;
    position: fixed;
    width: 514px;
}

/*------------------------------------
    Form Table Drugs Price Criteria
------------------------------------*/

.formDrugsPriceCriteria {
    bottom: 0;
    display: none;
    height: 120px;
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}

.formDrugsPriceCriteria table {
    background-color: rgba(169, 169, 169, 0.5);
    width: -webkit-fill-available;
}

.headPriceCriteria { text-align: center; }

/*.formDrugsPriceCriteria td {
    vertical-align: baseline;
}*/

.formDrugsPriceCriteria input[data-type="notnarcotik"], .formDrugsPriceCriteria input[data-type="narcotik"], .formDrugsPriceCriteria input[data-type="NDS"] {
    /* height: -webkit-fill-available;*/
    padding: 5px;
    width: -webkit-fill-available;
}

.formDrugsPriceCriteria input[data-type="NDS"] {
    background-color: rgba(57, 210, 180, 0.5);
}

.formDrugsPriceCriteria input[data-type="narcotik"] {
    background-color: rgba(202, 150, 115, 0.5);
}

.formDrugsPriceCriteria input {
    background-color: rgba(255, 255, 255, 0.5);
}

.formDrugsPriceCriteria button[name="SaveCriteriaPrice"] {
    -webkit-transition-duration: 0.4s; /* Safari */
    background-color: rgba(76, 175, 80, 0.7);
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 3px 30px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    /*position: absolute;
        right: 0;*/
}

.formDrugsPriceCriteria button[name="LoadCriteriaPrice"] {
    -webkit-transition-duration: 0.4s; /* Safari */
    background-color: rgba(0, 140, 186, 0.8);
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 3px 30px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    /*margin-right: -4px;
        position: absolute;
        right: 205px;*/
}

.formDrugsPriceCriteria button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}