/*-------------------------
    General Styles
--------------------------*/

body {
    -ms-background-size: 1em 1em;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 52%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 52%);
    background-color: #fff;
    background-size: 1em 1em;
}


a, a:visited {
    color: #389dc1;
    outline: none;
}

a:hover { text-decoration: none; }

section, footer, header, aside { display: block; }

/*-------------------------
    Menu Jvnlp CSS
--------------------------*/

.menuJvnlp {
    position: fixed;
    top: 0;
}

.menuJvnlp li {
    border: 1px solid #000; /* Рамка вокруг текста */
    cursor: pointer;
    display: inline-block; /* Отображать как строчный элемент и блок */
    margin: 10px;
    padding: 3px; /* Поля вокруг текста */
    text-align: center;
    width: 30%;
}

.menuJvnlp ul {
    display: inline;
    padding-inline-start: 0;
}

/*-------------------------
    Form File Jvnlp CSS
--------------------------*/

.formfileJvnlp {
    background: rgba(255, 255, 255, 0.53);
    border-radius: 20px;
    bottom: 0;
    display: none;
    height: 120px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    z-index: 1000;
}

.formFileJvnlp { margin: 5%; }

.input-file-container {
    position: relative;
    width: 225px;
}

.js .input-file-trigger {
    background: #39D2B4;
    border-radius: 8px 8px 0 0;
    color: rgba(35, 35, 35, 0.9);
    cursor: pointer;
    display: block;
    font-size: 1em;
    padding: 5px 3px;
    text-align: center;
    transition: all .4s;
    word-break: break-all;
}

.js .input-file {
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.js .input-file:hover + .input-file-trigger,
.js .input-file-trigger:hover {
    background: #34495E;
    color: #39D2B4;
}

.file-send {
    padding: 5px;
    text-align: center;
}

.js .file-send {
    background: rgba(26, 100, 117, 0.38);
    border: 0px;
    border-radius: 0 0 8px 8px;
    color: rgba(35, 35, 35, 0.9);
    cursor: pointer;
    font-size: .8em;
    font-style: italic;
    font-weight: bold;
    transition: all .4s;
    width: inherit;
}

.js .file-send:hover {
    background: #34495E;
    color: #39D2B4;
}


/*-------------------------
    Form Drugs Narcotic CSS
--------------------------*/

.formDrugsNarcotic {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    bottom: 0;
    display: none;
    left: 0;
    margin: auto;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 0;
    width: 524px;
    z-index: 1000;
}

.divScroll {
    background: rgba(255, 255, 255, 0.53);
    display: block;
    height: fit-content;
    margin-top: 30px;
    position: absolute;
}

input.saveNDrugs {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    /*border-radius: 4px;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin: 0px 1px 5px 5px;
    padding: 2px 6px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    vertical-align: middle;
    width: 195px;
    height: 29px;
}

input.saveNDrugs:hover, input.saveNDrugs:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

input.saveNDrugs:active {
    background-color: #5a5a5a;
    color: #FFFFFF;
}


.tableForm input[type="text"], input[type="date"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: 29px;
    padding: 3px;
    width: 100%;
}

.VisExNDrugs {
    position: absolute;
    font-size: 14px;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    left: 144px;
    border: 2px solid #71717199;
    background-color: white;
    height: 15px;
}

.add, .del {
    -webkit-transition-duration: 0.4s; /* Safari */
    position: absolute;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    /*margin: 3px 2px;*/
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}

.add {
    background-color: white;
    border: 2px solid #71717199;
    color: black;
}

.add:hover {
    background-color: #4CAF50;
    color: white;
}

.del {
    background-color: white;
    border: 2px solid #71717199;
    color: black;
    left: 76px;
}

.del:hover {
    background-color: #af4c4c;
    color: white;
}

.elementsSettingsRow {
    width: 509px;
    height: 29px;
    background-color: black;
    position: fixed;
}