@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ЖВНЛП";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" asp-href-include="~/css/JVNLP/*.css" asp-append-version="true"/>
<div class="menuJvnlp">
    <ul>
        <li name="openFormFile">Загрузить реестр препаратов</li>
        <li name="openFormTableDrugs">Таблица нарк. и псих. препаратов</li>
    </ul>
</div>

<div name="lockbody" style="background: rgba(0, 0, 0, 0.81); bottom: 53px; display: none; left: 0px; position: absolute; right: 0px; top: 66px; width: 100%;">
    <div class="formfileJvnlp" name="divJvnlp">
        <form enctype="multipart/form-data" asp-action="RequestJvnlp" asp-controller="Views" name="jvnlpForm" class="formFileJvnlp">
            <div class="input-file-container">
                <input type="file" class="input-file">
                <label tabindex="0" class="input-file-trigger">Выберите файл</label>
                <input type="submit" class="file-send" value="Отправить">
                <p id="textProgress" style="position: absolute; text-align: center; top: 103%; width: 100%; z-index: 100000;"></p>
            </div>
            <progress id="progressbar" value="0" max="100" style="bottom: 0px; height: 30px; margin-bottom: 5%; position: absolute; width: 89.9%;"></progress>
        </form>
    </div>

    <div class="formDrugsNarcotic" name="divDrugsDownload">
        <form asp-action="RequestJvnlp" asp-controller="Views" name="drugNarcoticForm">
            <div class="divScroll">
                <table id="drugNarcotic" border="1" cellspacing="0" cellpadding="5" class="tableForm">
                    <thead>
                    <tr>
                        <th scope="col" colspan="3">Наркотические и психотропные препараты</th>
                    </tr>
                    <tr>
                        <th scope="col">Международное наименование</th>
                        <th scope="col">Дата включения</th>
                        <th scope="col">Дата исключения</th>
                    </tr>
                    </thead>
                    <tbody id="RowDrugs">
                    @*<tr name="drugNew">
                        <td style="padding: 2px">
                            <input type="text" name="nameDrug" required placeholder="Введите МНН препарата" title="" onKeyup="this.title = this.value">
                        </td>
                        <td style="padding: 2px; width: 115px;" align="center">
                            <input name="dataDrugAdd" type="date"/>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    var nowDate = new Date();
                                    $("[name=dataDrugAdd]").val(nowDate.getFullYear() + "-" + nowDate.getMonth() + "-" + nowDate.getDate());
                                })
                            </script>
                        </td>
                        <td  style="padding: 2px; width: 123px;" align="center">
                            <input name="dataDrugDel" type="date"/>
                        </td>
                    </tr>*@
                    <tr name="drugSave" data-id="1">
                        <td style="padding: 2px">
                            <input type="text" name="nameDrug" required placeholder="Введите МНН препарата" title="" onKeyup="this.title = this.value">
                        </td>
                        <td style="padding: 2px; width: 115px;" align="center">
                            <input name="dataDrugAdd" type="date"/>
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    var nowDate = new Date();
                                    $("[name=dataDrugAdd]").val(nowDate.getFullYear() +
                                        "-" +
                                        nowDate.getMonth() +
                                        "-" +
                                        nowDate.getDate());
                                })
                            </script>
                        </td>
                        <td style="padding: 2px; width: 123px;" align="center">
                            <input name="dataDrugDel" type="date"/>
                        </td>
                    </tr>
                    <tr name="drugSave" data-id="2">
                        <td style="padding: 2px">
                            <input type="text" name="nameDrug" required placeholder="Введите МНН препарата" title="" onKeyup="this.title = this.value">
                        </td>
                        <td style="padding: 2px; width: 115px;" align="center">
                            <input name="dataDrugAdd" type="date"/>
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    var nowDate = new Date();
                                    $("[name=dataDrugAdd]").val(nowDate.getFullYear() +
                                        "-" +
                                        nowDate.getMonth() +
                                        "-" +
                                        nowDate.getDate());
                                })
                            </script>
                        </td>
                        <td style="padding: 2px; width: 123px;" align="center">
                            <input name="dataDrugDel" type="date"/>
                        </td>
                    </tr>
                    </tbody>
                    <script type="text/javascript">
                        $("tr[name = drugSave]").bind("DOMSubtreeModified", function(e) {
                            alert(e);
                        });
                    </script>
                </table>
            </div>
            <div class="elementsSettingsRow">
                <button type="button" class="add">Добавить</button>
                <button type="button" class="del">Удалить</button>
                <div class="VisExNDrugs">
                    <input type="checkbox" style="cursor: pointer; margin: 1px 2px 2px 2px;"><span style="margin-left: 4px; vertical-align: 1px;">Скрыть исключенные</span>
                </div>
                <input class="saveNDrugs" type="submit" value="Сохранить">
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="~/js/JVNLP/FormFile.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/JVNLP/FormNDrugs.js" asp-append-version="true"></script>