@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ЖВНЛП";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div name="lockActions" style="background-color: rgba(0, 0, 0, 0.9); bottom: 0; display: none; height: 100%; left: 0; position: fixed; right: 0; top: 0; width: 100%; z-index: 999999999;">
    <div style="bottom: 0; height: 10%; left: 0; margin: auto; position: absolute; right: 0; top: 0; width: 42%;">
        <svg class="spinner" viewBox="0 0 50 50">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
        </svg>
        <p style="color: white; font-family: 'Calibri'; text-align: center;">Примерное время ожидания: 10 секунд</p>
    </div>
</div>
<style>
    .alertify-notifier .ajs-message.ajs-success {
        color: black;
        font-family: "Times New Roman", Times, serif;
        text-shadow: none;
    }

    .alertify-notifier .ajs-message.ajs-error {
        color: black;
        font-family: "Times New Roman", Times, serif;
        text-shadow: none;
    }

    .alertify-notifier .ajs-message.ajs-warning {
        color: black;
        font-family: "Times New Roman", Times, serif;
        text-shadow: none;
    }
</style>
<link rel="stylesheet" asp-href-include="~/css/JVNLP/*.css" asp-append-version="true"/>
<div class="menuJvnlp">
    <ul>
        <li name="openTableJvnlp">
            <p style="margin: 5px; vertical-align: middle;">Таблица ЖВНЛП</p>
        </li>
        <li name="openFormTableDrugs" style="left: 190px; width: 239px;">
            <p style="margin: 5px; vertical-align: middle;">Таблица нарк. и псих. препаратов</p>
        </li>
        <li name="openFormDrugsPriceCriteria" style="left: 460px; width: 366px;">
            <p style="margin: 5px; vertical-align: middle;">Таблица критерий на цены нарк. и псих. препаратов</p>
        </li>
    </ul>
</div>

<div name="lockbody" style="bottom: 53px; display: none; left: 0px; position: absolute; right: 0px; top: 66px; width: 100%;">

<div class="fonTableDrugs" name="tableDrugs">
<div name="newTableJvnlp" style="display: block">
    <button type="button" class="CSSButtonUpload" name="buttonUploadFile">Загрузить реестр</button>
</div>
<div name="lastTableJvnlp" style="display: none">
    <button type="button" class="CSSButtonCalculate" name="buttonCalculate">Расчитать</button>
</div>
<ul class="tableDrugsMenu" style="bottom: 0; margin: 0; position: absolute;">
    <li name="openTableOriginal">
        <p style="margin: 5px; vertical-align: middle;">Исходный реестр</p>
    </li>
    <li name="openTableReady" style="left: 164px;">
        <p style="margin: 5px; vertical-align: middle;">Расчитанный реестр</p>
    </li>
</ul>
<div name="originalJvnlp" style="background-color: rgba(0, 0, 0, 0.1); display: block; height: calc(100% - 80px); margin: 30px 0px 0px 0px; overflow: auto; position: absolute;">
    <!--Исходный реестр препаратов-->
</div>
<div name="ReadyJvnlp" style="background-color: rgba(0, 0, 0, 0.1); display: none; height: calc(100% - 80px); margin: 30px 0px 0px 0px; position: absolute; width: 100%;">
<div name="newJvnlp" style="display: none; height: calc(100% - 50px); overflow-x: scroll; overflow-y: auto; width: 100%;">
    <table id="tableDrugsNew" border="1">
        <thead>
            <tr name="headTable1">
                <td colspan="17" style="font-size: 21px;">Государственный реестр предельных отпускных цен производителей на лекарственные препараты</br>включенные в перечень жизненно необходимых и важнейших лекарственных препаратов</br>(по состоянию на <span name="dataUpdateJVNLP">10.03.2020</span> )</td>
            </tr>
            <tr name="headTable2">
                <td rowspan="2">МНН</td>
                <td rowspan="2">Торговое наименование лекарственного препарата</td>
                <td rowspan="2">Лекарственная форма, дозировка, упаковка (полная)</td>
                <td rowspan="2">Владелец РУ/производитель/упаковщик/Выпускающий контроль</td>
                <td rowspan="2">Количество в потреб. упаковке</td>
                <td rowspan="2">Предельная цена руб. без НДС</td>
                <td rowspan="2">Цена указана для первич. упаковки</td>
                <td rowspan="2">№ РУ</td>
                <td rowspan="2">Дата регистрации цены<br />(№ решения)</td>
                <td rowspan="2">Штрих-код (EAN13)</td>
                <td rowspan="2">АТХ</td>
                <td rowspan="2">Цена производителя с НДС</td>
                <td rowspan="2">Предельная отпускная цена организаций оптовой торговли с НДС</td>
                <td rowspan="2">Предельная отпускная цена организаций оптовой торговли без НДС</td>
                <td colspan="3">Предельная розничная цена с НДС</td>
            </tr>
            <tr name="headTable3">
                <td>г.Улан-Удэ</td>
                <td>Сельские районы</td>
            <td>Районы приравненные к районам Крайнего Севера</td>
        </tr>
            <tr class="searchInput" name="headSearch">
                <td>
                    <input name="filterTable1" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable2" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable3" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable4" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable5" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable6" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable7" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable8" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable9" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable10" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable11" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable12" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable13" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable14" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable15" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable16" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable17" type="search" value="" placeholder="Поиск">
                </td>
            </tr>
        </thead>
        <tbody name="drugs" style="overflow-y: scroll;">
        <tr name="drug">
            <td>-</td>
            <td>Перекись водорода</td>
            <td>раствор для местного и наружного применения 3%, 100мл - флаконы (1) (для стационаров)</td>
            <td>ООО &quot;ЮжФарм&quot; - Россия</td>
            <td>1</td>
            <td>8,65</td>
            <td></td>
            <td></td>
            <td>02.07.2012 (16/20-12)</td>
            <td>4620008620022</td>
            <td></td>
            <td>9,52</td>
            <td>11,42</td>
            <td>10,38</td>
            <td>13,80</td>
            <td>14,75</td>
            <td>16,18</td>
        </tr>
        <tr name="drug">
            <td>-</td>
            <td>Перекись водорода</td>
            <td>раствор для местного и наружного применения 3%, 100мл - флаконы (1) (для стационаров)</td>
            <td>ООО &quot;ЮжФарм&quot; - Россия</td>
            <td>1</td>
            <td>8,65</td>
            <td></td>
            <td></td>
            <td>02.07.2012 (16/20-12)</td>
            <td>4620008620022</td>
            <td></td>
            <td>9,52</td>
            <td>11,42</td>
            <td>10,38</td>
            <td>13,80</td>
            <td>14,75</td>
            <td>16,18</td>
        </tr>
        <tr name="drug">
            <td>-</td>
            <td>Перекись водорода</td>
            <td>раствор для местного и наружного применения 3%, 100мл - флаконы (1) (для стационаров)</td>
            <td>ООО &quot;ЮжФарм&quot; - Россия</td>
            <td>1</td>
            <td>8,65</td>
            <td></td>
            <td></td>
            <td>02.07.2012 (16/20-12)</td>
            <td>4620008620022</td>
            <td></td>
            <td>9,52</td>
            <td>11,42</td>
            <td>10,38</td>
            <td>13,80</td>
            <td>14,75</td>
            <td>16,18</td>
        </tr>
        <tr name="drug">
            <td>-</td>
            <td>Перекись водорода</td>
            <td>раствор для местного и наружного применения 3%, 100мл - флаконы (1) (для стационаров)</td>
            <td>ООО &quot;ЮжФарм&quot; - Россия</td>
            <td>1</td>
            <td>8,65</td>
            <td></td>
            <td></td>
            <td>02.07.2012 (16/20-12)</td>
            <td>4620008620022</td>
            <td></td>
            <td>9,52</td>
            <td>11,42</td>
            <td>10,38</td>
            <td>13,80</td>
            <td>14,75</td>
            <td>16,18</td>
        </tr>
        <tr name="drug">
            <td>-</td>
            <td>Перекись водорода</td>
            <td>раствор для местного и наружного применения 3%, 100мл - флаконы (1) (для стационаров)</td>
            <td>ООО &quot;ЮжФарм&quot; - Россия</td>
            <td>1</td>
            <td>8,65</td>
            <td></td>
            <td></td>
            <td>02.07.2012 (16/20-12)</td>
            <td>4620008620022</td>
            <td></td>
            <td>9,52</td>
            <td>11,42</td>
            <td>10,38</td>
            <td>13,80</td>
            <td>14,75</td>
            <td>16,18</td>
        </tr>
        <tr name="drug">
            <td>-</td>
            <td>Перекись водорода</td>
            <td>раствор для местного и наружного применения 3%, 100мл - флаконы (1) (для стационаров)</td>
            <td>ООО &quot;ЮжФарм&quot; - Россия</td>
            <td>1</td>
            <td>8,65</td>
            <td></td>
            <td></td>
            <td>02.07.2012 (16/20-12)</td>
            <td>4620008620022</td>
            <td></td>
            <td>9,52</td>
            <td>11,42</td>
            <td>10,38</td>
            <td>13,80</td>
            <td>14,75</td>
            <td>16,18</td>
        </tr>
        </tbody>
    </table>
</div>
<div name="includedJvnlp" style="display: none; height: calc(100% - 50px); overflow-x: scroll; overflow-y: auto; width: 100%;">
    <table id="tableDrugsIncluded" border="1">
        <thead>
            <tr name="headTable1">
                <td colspan="17" style="font-size: 21px;">Государственный реестр предельных отпускных цен производителей на лекарственные препараты</br>включенные в перечень жизненно необходимых и важнейших лекарственных препаратов</br>(по состоянию на <span name="dataUpdateJVNLP">10.03.2020</span> )</td>
            </tr>
            <tr name="headTable2">
                <td rowspan="2">МНН</td>
                <td rowspan="2">Торговое наименование лекарственного препарата</td>
                <td rowspan="2">Лекарственная форма, дозировка, упаковка (полная)</td>
                <td rowspan="2">Владелец РУ/производитель/упаковщик/Выпускающий контроль</td>
                <td rowspan="2">Количество в потреб. упаковке</td>
                <td rowspan="2">Предельная цена руб. без НДС</td>
                <td rowspan="2">Цена указана для первич. упаковки</td>
                <td rowspan="2">№ РУ</td>
                <td rowspan="2">Дата регистрации цены<br />(№ решения)</td>
                <td rowspan="2">Штрих-код (EAN13)</td>
                <td rowspan="2">АТХ</td>
                <td rowspan="2">Цена производителя с НДС</td>
                <td rowspan="2">Предельная отпускная цена организаций оптовой торговли с НДС</td>
                <td rowspan="2">Предельная отпускная цена организаций оптовой торговли без НДС</td>
                <td colspan="3">Предельная розничная цена с НДС</td>
            </tr>
            <tr name="headTable3">
                <td>г.Улан-Удэ</td>
                <td>Сельские районы</td>
            <td>Районы приравненные к районам Крайнего Севера</td>
        </tr>
            <tr class="searchInput" name="headSearch">
                <td>
                    <input name="filterTable1" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable2" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable3" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable4" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable5" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable6" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable7" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable8" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable9" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable10" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable11" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable12" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable13" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable14" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable15" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable16" type="search" value="" placeholder="Поиск">
                </td>
                <td>
                    <input name="filterTable17" type="search" value="" placeholder="Поиск">
                </td>
            </tr>
        </thead>
        <tbody style="overflow-y: scroll;">
        <tr name="drug">
            <td>-</td>
            <td>Перекись водорода</td>
            <td>раствор для местного и наружного применения 3%, 100мл - флаконы (1) (для стационаров)</td>
            <td>ООО &quot;ЮжФарм&quot; - Россия</td>
            <td>1</td>
            <td>8,65</td>
            <td></td>
            <td></td>
            <td>02.07.2012 (16/20-12)</td>
            <td>4620008620022</td>
            <td></td>
            <td>9,52</td>
            <td>11,42</td>
            <td>10,38</td>
            <td>13,80</td>
            <td>14,75</td>
            <td>16,18</td>
        </tr>
        </tbody>
    </table>
</div>
<div name="excludedJvnlp" style="display: none; height: calc(100% - 50px); overflow-x: scroll; overflow-y: auto; width: 100%;">
    <table id="tableDrugsExcluded" border="1">
        <thead>
        <tr name="headTable1">
            <td colspan="13" style="font-size: 21px;">Государственный реестр предельных отпускных цен производителей на лекарственные препараты</br>включенные в перечень жизненно необходимых и важнейших лекарственных препаратов</br>(по состоянию на <span name="dataUpdateJVNLP">10.03.2020</span> )</td>
        </tr>
        <tr name="headTable2">
            <td>МНН</td>
            <td>Торговое наименование лекарственного препарата </td>
            <td>Лекарственная форма, дозировка, упаковка (полная)</td>
            <td>Владелец РУ/производитель/упаковщик/Выпускающий контроль</td>
            <td>Количество в потреб. упаковке</td>
            <td>Предельная цена руб. без НДС</td>
            <td>Цена указана для первич. упаковки</td>
            <td>№ РУ</td>
            <td>Дата регистрации цены<br/>(№ решения)</td>
            <td>Штрих-код (EAN13)</td>
            <td>АТХ</td>
            <td>Дата исключения</td>
            <td>Причина исключения</td>
        </tr>
        <tr class="searchInput" name="headSearch">
            <td>
                <input name="filterTable1" type="search" value="" placeholder="Поиск">
            </td>
            <td>
                <input name="filterTable2" type="search" value="" placeholder="Поиск">
            </td>
            <td>
                <input name="filterTable3" type="search" value="" placeholder="Поиск">
            </td>
            <td>
                <input name="filterTable4" type="search" value="" placeholder="Поиск">
            </td>
            <td>
                <input name="filterTable5" type="search" value="" placeholder="Поиск">
            </td>
            <td>
                <input name="filterTable6" type="search" value="" placeholder="Поиск">
            </td>
            <td>
                <input name="filterTable7" type="search" value="" placeholder="Поиск">
            </td>
            <td>
                <input name="filterTable8" type="search" value="" placeholder="Поиск">
            </td>
            <td>
                <input name="filterTable9" type="search" value="" placeholder="Поиск">
            </td>
            <td>
                <input name="filterTable10" type="search" value="" placeholder="Поиск">
            </td>
            <td>
                <input name="filterTable11" type="search" value="" placeholder="Поиск">
            </td>
            <td>
                <input name="filterTable12" type="search" value="" placeholder="Поиск">
            </td>
            <td>
                <input name="filterTable13" type="search" value="" placeholder="Поиск">
            </td>
        </tr>
        </thead>
        <tbody style="overflow-y: scroll;">
        <tr name="drug">
            <td>-</td>
            <td>Перекись водорода</td>
            <td>раствор для местного и наружного применения 3%, 100мл - флаконы (1) (для стационаров)</td>
            <td>ООО &quot;ЮжФарм&quot; - Россия</td>
            <td>1</td>
            <td>8,65</td>
            <td></td>
            <td></td>
            <td>02.07.2012 (16/20-12)</td>
            <td>4620008620022</td>
            <td></td>
            <td>01.07.2019</td>
            <td>исключения лекарственного препарата из государственного реестра лекарственных средств для медицинского применения</td>
        </tr>
        </tbody>
    </table>
</div>
<ul class="readyJvnlpMenu">
    <li name="openReadyJvnlp">
        <p style="margin: 5px; vertical-align: middle;">ЖВНЛП</p>
    </li>
    <li name="openIncludedJvnlp">
        <p style="margin: 5px; vertical-align: middle;">Включенные позиции</p>
    </li>
    <li name="openExcludedJvnlp" style="width: 310px;">
        <p style="margin: 5px; vertical-align: middle;">Исключенные позиции исходного реестра</p>
    </li>
</ul>
</div>
<div class="formfileJvnlp" name="divJvnlp">
    <div class="cl-btn" name="cl-btn"></div>
    <form enctype="multipart/form-data" name="jvnlpForm" class="formFileJvnlp" data-idform="form №1">
        <div class="input-file-container">
            <input type="file" class="input-file">
            <label tabindex="0" class="input-file-trigger">Выберите файл</label>
            <input type="submit" class="file-send" value="Отправить">
            <p id="textProgress" style="position: absolute; text-align: center; top: 103%; width: 100%; z-index: 100000;"></p>
        </div>
        <progress id="progressbar" value="0" max="100" style="bottom: 0px; height: 30px; margin-bottom: 5%; position: absolute; width: 89.9%;"></progress>
    </form>
</div>

</div>

<div class="formDrugsNarcotic" name="divDrugsDownload">
    <form name="drugNarcoticForm" data-idform="form №2">
        <div class="divScroll">
            <table id="drugNarcotic" border="1" cellspacing="0" cellpadding="5" class="tableForm">
                <thead>
                <tr>
                    <th scope="col" colspan="3">Наркотические и психотропные препараты</th>
                </tr>
                <tr>
                    <th scope="col">Международное наименование</th>
                    <th scope="col">Дата включения</th>
                    <th scope="col">Дата исключения</th>
                </tr>
                </thead>
                <tbody id="RowDrugs"></tbody>
            </table>
        </div>
        <div class="elementsSettingsRow">
            <button type="button" class="add">Добавить</button>
            <button type="button" class="del">Удалить</button>
            <div class="VisExNDrugs">
                <input name="invisDrug" type="checkbox" style="cursor: pointer; margin: 1px 2px 2px 2px;"><span style="margin-left: 4px; vertical-align: 1px;">Скрыть исключенные</span>
            </div>
            <input class="saveNDrugs" type="submit" value="Сохранить">
        </div>
    </form>
</div>
<div class="formDrugsPriceCriteria" name="divDrugsPriceCriteria">
    <table border="1">
        <tbody>
        <tr class="headPriceCriteria">
            <td colspan="2" rowspan="2" width="255">Ценовые группы</td>
            <td colspan="2" width="358">Предельные ( максимальные) оптовые надбавки к фактическим отпускным ценам производителей, %</td>
            <td colspan="3" width="574">Предельные (максимальные) розничные надбавки к фактическим отпускным ценам производителей, %</td>
        </tr>
        <tr class="headPriceCriteria">
            <td width="211">на жизненно необходимые и важнейшие лекарственные средства, за исключением наркотических и психотропных</td>
            <td width="147">на наркотические и психотропные средства</td>
            <td width="133">Городской округ "Улан-Удэ"</td>
            <td width="224">Муниципальные районы, за исключеним райнов, приравненных к районам Крайнего Севера, городского округа "Город Северобайкальск"</td>
            <td width="217">Муниципальные районы, приравненные к районам Крайнего Севера, городской округ "Город Северобайкальск"</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2" width="255">до 50 рублей включительно</td>
            <td rowspan="2">
                <input name="before50NotNarcotik" type="text" value="20" style="" data-type="notnarcotik">
            </td>
            <td rowspan="2">
                <input name="before50Narcotik" type="text" value="35" data-type="narcotik">
            </td>
            <td>
                <input name="before50UUNotNarcotik" type="text" value="25" data-type="notnarcotik">
            </td>
            <td>
                <input name="before50NotAreaNotNarcotik" type="text" value="35" data-type="notnarcotik">
            </td>
            <td>
                <input name="before50AreaUUNotNarcotik" type="text" value="50" data-type="notnarcotik">
            </td>
        </tr>
        <tr>
            <td>
                <input name="before50UUNarcotik" type="text" value="40" data-type="narcotik">
            </td>
            <td>
                <input name="before50NotAreaNarcotik" type="text" value="50" data-type="narcotik">
            </td>
            <td>
                <input name="before50AreaUUNarcotik" type="text" value="65" data-type="narcotik">
            </td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2" width="255">Свыше 50 рублей до 500 рублей включительно</td>
            <td rowspan="2">
                <input name="after50before500NotNarcotik" type="text" value="16" style="" data-type="notnarcotik">
            </td>
            <td rowspan="2">
                <input name="after50before500Narcotik" type="text" value="48" data-type="narcotik">
            </td>
            <td>
                <input name="after50before500UUNotNarcotik" type="text" value="19" data-type="notnarcotik">
            </td>
            <td>
                <input name="after50before500NotAreaNotNarcotik" type="text" value="29" data-type="notnarcotik">
            </td>
            <td>
                <input name="after50before500AreaUUNotNarcotik" type="text" value="44" data-type="notnarcotik">
            </td>
        </tr>
        <tr>
            <td>
                <input name="after50before500UUNarcotik" type="text" value="34" data-type="narcotik">
            </td>
            <td>
                <input name="after50before500NotAreaNarcotik" type="text" value="44" data-type="narcotik">
            </td>
            <td>
                <input name="after50before500AreaUUNarcotik" type="text" value="59" data-type="narcotik">
            </td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2" width="255">Свыше 500 рублей</td>
            <td rowspan="2">
                <input name="after500NotNarcotik" type="text" value="13" style="" data-type="notnarcotik">
            </td>
            <td rowspan="2">
                <input name="after500Narcotik" type="text" value="37" data-type="narcotik">
            </td>
            <td>
                <input name="after500UUNotNarcotik" type="text" value="12" data-type="notnarcotik">
            </td>
            <td>
                <input name="after500NotAreaNotNarcotik" type="text" value="22" data-type="notnarcotik">
            </td>
            <td>
                <input name="after500AreaUUNotNarcotik" type="text" value="42" data-type="notnarcotik">
            </td>
        </tr>
        <tr>
            <td>
                <input name="after500UUNarcotik" type="text" value="27" data-type="narcotik">
            </td>
            <td>
                <input name="after500NotAreaNarcotik" type="text" value="37" data-type="narcotik">
            </td>
            <td>
                <input name="after500AreaUUNarcotik" type="text" value="57" data-type="narcotik">
            </td>
        </tr>
        <tr>
            <td colspan="5" style="background-color: rgba(202, 150, 115, 0.5);">
                <span>Наркотические и психотропные</span>
            </td>
            <td style="background-color: rgba(169, 169, 169, 0.5); text-align: right;">Значение НДС:</td>
            <td>
                <input name="NDSPrice" type="text" value="1.1" data-type="NDS">
            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" name="LoadCriteriaPrice">
        Загрузить
    </button>
    <button type="button" name="SaveCriteriaPrice">
        Сохранить
    </button>
</div>
</div>
<script type="text/javascript" src="~/js/JVNLP/JVNLP.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/JVNLP/FormFile.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/JVNLP/FormNDrugs.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/JVNLP/FormPriceCriteria.js" asp-append-version="true"></script>