/*-------------------------
    Menu Layout CSS
--------------------------*/
.menuLayout {
    position: fixed;
    bottom: 0;
}
    .menuLayout li {
        border: 1px solid #000;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        width: 153px;
        margin: 0px 12px 0px 0px;
    }
    .menuLayout ul {
        display: inline-block;
        padding-inline-start: 0;
    }
    .menuLayout li a {
        text-decoration: none;
    }


