<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- include alertify-->
    <link rel="stylesheet" href="~/lib/alertify/css/alertify.min.css" />
    <link rel="stylesheet" href="~/lib/alertify/css/themes/bootstrap.min.css" />
    <script src="~/lib/alertify/alertify.min.js"></script>
</head>
<body>
<nav>
    <div>
        <ul>
            <li>
                <a asp-area="" asp-page="/Home">Главная</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Views" asp-action="Jvnlp">ЖВНЛП</a>
            </li>
        </ul>
    </div>
</nav>
@RenderBody()
</body>
</html>