<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" asp-href-include="~/css/Layout.css" asp-append-version="true" />
    <!-- include alertify-->
    <link rel="stylesheet" asp-href-include="~/lib/alertify/css/**/*.css" asp-append-version="true" />
</head>
<body>
<nav>
    <div class="menuLayout">
        <ul>
            <li>
                <a asp-area="" asp-page="/Home">Главная</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Views" asp-action="Jvnlp">ЖВНЛП</a>
            </li>
        </ul>
    </div>
</nav>
<script type="text/javascript" src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/lib/alertify/alertify.js" asp-append-version="true"></script>
@RenderBody()
</body>
</html>