<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="">
    <!-- include alertify-->
    <link rel="stylesheet" asp-href-include="~/lib/alertify/css/**/*.css" asp-append-version="true"/>
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/alertify/alertify.min.js" asp-append-version="true"></script>
</head>
<body>
<nav>
    <div>
        <ul>
            <li>
                <a asp-area="" asp-page="/Home">Главная</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Views" asp-action="Jvnlp">ЖВНЛП</a>
            </li>
        </ul>
    </div>
</nav>
@RenderBody()

</body>
</html>